<nav class="navbar">
    <div class="container">
      <h1 class="logo">HealthCare+</h1>
      <ul class="nav-links">
      
        <li><a routerLink="/front-desk/patient-registration" routerLinkActive="active">Patient Registration</a></li>
        <li><a routerLink="/front-desk/appointment" routerLinkActive="active">Appointment</a></li>
        <li><a routerLink="/front-desk/medical-records" routerLinkActive="active">Medical Records</a></li> 
        </ul>
      <button class="logout-btn">Logout</button>
    </div>
  </nav>
<router-outlet></router-outlet>

