<nav class="navbar">
    <div class="container">
      <h1 class="logo">HealthCare+</h1>
      <ul class="nav-links">
      
        <li><a routerLink="/front-desk/patient-registration" routerLinkActive="active">Patient Registration</a></li>
        <li><a routerLink="/front-desk/appointment" routerLinkActive="active">Appointment</a></li>
        <li><a routerLink="/front-desk/medical-records" routerLinkActive="active">Medical Records</a></li> 
        </ul>
        <a class="btn btn-login" href="/logout">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg> Logout
      </a>
    </div>
  </nav>
<router-outlet></router-outlet>

