<div class="user-management">
    <h2>User Management</h2>
  
    <form (submit)="addUser()">
      <input type="text" [(ngModel)]="newUser.username" placeholder="Username" required />
      <input type="text" [(ngModel)]="newUser.name" placeholder="Full Name" required />
      <input type="email" [(ngModel)]="newUser.email" placeholder="Email" required />
      <input type="password" [(ngModel)]="newUser.password" placeholder="Password" required />
  
      <div class="mb-3">
        <label class="form-label">Role:</label>
        <div class="d-flex gap-4">  
            <div class="form-check">
                <input type="radio" class="form-check-input" [(ngModel)]="newUser.role" name="role" value="Admin" required>
                <label class="form-check-label">Admin</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" [(ngModel)]="newUser.role" name="role" value="Doctor" required>
                <label class="form-check-label">Doctor</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" [(ngModel)]="newUser.role" name="role" value="User" required>
                <label class="form-check-label">User</label>
            </div>
        </div>
    </div>
      <button type="submit">{{  addUser() }}</button>
    </form>
  
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td><button (click)="deleteUser(user.id)">Delete User</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  